<!DOCTYPE html>

<html>
    <head>
        <title>This is the title of the webpage!</title>
        <script type="text/javascript" src="../models/player.js"></script>
        <script type="text/javascript" src="../models/deck.js"></script>
        <script type="text/javascript" src="../models/game.js"></script>
        <script type="text/javascript" src="../models/card.js"></script>
        <script type="text/javascript" src="../models/discard.js"></script>
        <script type="text/javascript" src="../models/colors.js"></script>
    </head>
    <body>
        <div id="player0" class="player" style="position:relative;top:600px;left:100px;">
            <img id="img_player0" class="img_player">
            <div id="hand_player0" class="hand_player">
            </div>
        </div>
        <div id="player1" class="player">
            <img id="img_player1" class="img_player">
            <div id="hand_player1" class="hand_player">
            </div>
        </div>
        <div id="pioche" style="position:relative;top:200px;left:200px;">
            
        </div>
        <div id="defausse" style="position:relative;top:400px;left:250px;width:85px;height:150px;border: 4px dotted blue;">
        </div>
        <div id="div_button">
            <button id="start_button">Start</button>
            <button id="next_button"  style="display:none">Next</button>
        </div>
        <p id="log"></p>
    </body>
    <script>
        let button_start = document.querySelector('#start_button');
        let log = document.querySelector('#log');
        button_start.addEventListener('mouseup', startGame);
        function startGame(e)
        {
            if (typeof e === 'object')
            {
                switch (e.button)
                {
                    case 0:
                        let game = new Game(2);
                        let p0 = new Player(0);
                        let p1 = new Player(1);
                        game.add_player(p0);
                        console.log(game.players[1]);
                        game.begin_game();
                        break;
                    default:
                        log.textContent = `Unknown button code: ${e.button}`;
                }
            }
        }
        function getStyle(el,styleProp)
        {
            var x = document.getElementById(el);
            if (window.getComputedStyle)
            {
                var y = document.defaultView.getComputedStyle(x,null).getPropertyValue(styleProp); 
            }
            else if (x.currentStyle)
            {
                var y = x.currentStyle[styleProp];
            }
            return y;
        }
    </script>
</html>